---
import CardWrapper from "@/components/global/cardWrapper";
import { CardContent } from "@/components/ui/card";
import { storyblokEditable } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";

import { correctPageSlug } from "@/lib/storyblok/wrapper";

const { blok } = Astro.props;
console.log(blok)
---

<a href={correctPageSlug(blok.href.cached_url)} class="group">
  <CardWrapper
    client:load
    {...storyblokEditable(blok)}
    className="h-full flex flex-col group-hover:drop-shadow-xl group-hover:scale-[101%]"
  >
    <slot slot="title">{blok.title}</slot>

    <slot slot="description">{blok.description}</slot>

    <CardContent className="flex-grow">
      {
        blok.content?.map((blok) => {
          return <StoryblokComponent key={blok._uid} blok={blok} />;
        })
      }
    </CardContent>

    <slot slot="footer">{blok.footer}</slot>
  </CardWrapper>
</a>
