---
import { useStoryblokWrapper } from "@/lib/storyblok/wrapper";
import { storyblokEditable } from "@storyblok/astro";

const { blok } = Astro.props;

const introduction = {
  lead: "Notebook",
  content: "",
};

const { getStories, translateToRelativeSlug } = useStoryblokWrapper();

const paginationContext = {
  page: 1,
  per_page: 25,
};

const {
  data: { stories },
} = await getStories({
  starts_with: "notebook/",
  excluding_slugs: "notebook/",
  ...paginationContext,
});
---

<div {...storyblokEditable(blok)}>
  <div class="container mx-auto flex flex-col gap-4 my-12 place-items-center">
    <div class="prose mb-8 mt-2">
      <di class="prose prose-2xl">
        {introduction.lead}
      </di>

      <div>{introduction.content}</div>
    </div>

    {
      stories.length === 0 ? (
        <div>
          Sorry.. I haven't taken the pencil and paper out in a while...
        </div>
      ) : (
        stories?.map((story) => {
          console.log(story)
          return (
            <a class="min-w-full" href={translateToRelativeSlug(story.full_slug)}>
              <div class="p-4 border border-slate-100 rounded shadow-sm">
                <div class="prose-lg">
                  {story.name}
                </div>
                <div class="prose-sm">
                  <div>{story.published_at}</div>
                  <i>(Under construction)</i>
                </div>
              </div>
            </a>
          );
        })
      )
    }
  </div>
</div>
