---
import { storyblokEditable } from "@storyblok/astro";

import { TooltipWrapper } from "@/components/global/tooltipWrapper";
import { useStoryblokWrapper } from "@/lib/storyblok/wrapper";
import CardWrapper from "@/components/global/cardWrapper";
import { CardContent } from "@/components/ui/card";

const { translateToRelativeSlug } = useStoryblokWrapper();
const { blok } = Astro.props;
const {
  asset: { alt, title, filename },
  title: blokTitle
} = blok;
---

<a href={translateToRelativeSlug(blok.href)} class="h-full w-full">
  <CardWrapper>
    <TooltipWrapper client:load {...storyblokEditable(blok)}>
      <CardContent slot="trigger" className="px-8 py-6">
        <div class="grid grid-cols-2 gap-2">
          <img src={filename} alt={alt} />
          <div class="prose-2xl align-middle justify-center">{blokTitle}</div>
        </div>
      </CardContent>

      <div>{title}</div>
    </TooltipWrapper>
  </CardWrapper>
</a>
