---
const warning = "Work In Progress, Under Construction. Work In Progress, Under Construction.";
---

<div class="flex flex-col gap-6">
    <div class="bg-yellow-300 rotate-12 scale-150">{warning}</div>
    <div class="bg-yellow-300 -rotate-12 scale-150">{warning}</div>
    <div class="bg-yellow-300 rotate-3 scale-150">{warning}</div>
    <div class="hidden md:block bg-yellow-300 -rotate-6 scale-150">{warning}</div>
    <div class="md:block bg-yellow-300 -rotate-12 translate-y-4  scale-150">{warning}</div>
    <div class="md:block bg-yellow-300 scale-150">{warning}</div>
</div>